<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Servlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>GetFormData</servlet-name>
		<servlet-class>controller.GetFormData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>controller.Index</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCheckBoxData</servlet-name>
		<servlet-class>controller.GetCheckBoxData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetFormData</servlet-name>
		<url-pattern>/GetFormData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCheckBoxData</servlet-name>
		<url-pattern>/GetCheckBoxData</url-pattern>
	</servlet-mapping>
</web-app>